@using SweetShop.ViewModels.Product;
@model DetailProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="card mb-1">

    <div class="card-body">
        <h5 class="card-title">
            @Html.DisplayNameFor(model => model.Name) :
            <span class="font-weight-normal">@Html.DisplayFor(model => model.Name)</span>
        </h5>
        <p class="card-text font-weight-bold">
            @Html.DisplayNameFor(model => model.Description):
            <span class="font-weight-normal">@Html.DisplayFor(model => model.Description)</span>
        </p>
        <p class="card-text font-weight-bold">
            @Html.DisplayNameFor(model => model.Price):
            <span class="font-weight-normal">@Html.DisplayFor(model => model.Price)</span>
        </p>
        <p class="card-text">
            <small class="text-muted">
                @Html.DisplayNameFor(model => model.CreatedOn):
                <span>@Html.DisplayFor(model => model.CreatedOn)</span>
            </small>
        </p>
        <p class="card-text">
            <small class="text-muted">
                @Html.DisplayNameFor(model => model.ModifiedOn)
                <span>@Html.DisplayFor(model => model.ModifiedOn)</span>
            </small>
        </p>
    </div>
    <img src=" @Html.DisplayFor(model => model.ImageURL)" class="card-img-bottom rounded" alt="...">
</div>

<div>
    <a asp-action="Update" asp-route-id="@Model.Id">Update</a> |
    <a asp-action="Index">Back to List</a>
</div>
