@using SweetShop.ViewModels.Product;
@model IEnumerable<DetailProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var item in Model)
    {
        <div class="col-4 m-0 p-1">
            <div class="card" style="width: 18rem;">
                <img src="@item.ImageURL" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>

                    <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }

</div>

