@using SweetShop.Constants;
@using SweetShop.ViewModels.Product;
@model DetailProductViewModel

@{
    ViewData["Title"] = $"Details{Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/product.css" />


<div class="wrapper">
    <h1 class="text-center">Детайли</h1>

    <div class="card mb-1 w-50 mx-auto">

        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayNameFor(model => model.Name) :
                <span class="font-weight-normal">@Html.DisplayFor(model => model.Name)</span>
            </h5>
            <p class="card-text font-weight-bold">
                @Html.DisplayNameFor(model => model.Description):
                <span class="font-weight-normal">@Html.DisplayFor(model => model.Description)</span>
            </p>
            <p class="card-text font-weight-bold">
                @Html.DisplayNameFor(model => model.Price):
                <span class="font-weight-normal">@Html.DisplayFor(model => model.Price)</span>
            </p>
            <p class="card-text">
                <small class="text">
                    @Html.DisplayNameFor(model => model.CreatedOn):
                    <span>@Html.DisplayFor(model => model.CreatedOn)</span>
                </small>
            </p>
            <p class="card-text">
                <small class="text">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                    <span>@Html.DisplayFor(model => model.ModifiedOn)</span>
                </small>
            </p>
        </div>
        <img src=" @Html.DisplayFor(model => model.ImageURL)" class="card-img-bottom rounded" alt="...">
    </div>

    <div>
        @if (User.IsInRole(RolesConstants.ADMIN_ROLE))
        {
            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Промяна</a>
            <span>|</span>
            <a asp-action="Index" class="btn btn-primary">Обратно към продукти</a>
        }
        else
        {
            <a asp-action="Index" class="btn btn-primary">Обратно към продукти</a>
        }

    </div>
</div>