@model SweetShop.ViewModels.Product.ProductRatingViewModel

@{
    ViewData["Title"] = "GetRating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/product.css" />

<div class="wrapper">
    <h1 class="text-center">Оценка за @Html.DisplayFor(model => model.Name)</h1>
    <hr />


    <div class="card w-50 mx-auto">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => model.Name)<span>@Html.DisplayFor(model => model.Name)</span></h5>
            <p class="card-text">
                @if (Model.AverageRating == 0)
                {
                    <span>Няма</span>
                }
                else if (Model.AverageRating < 5)
                {
                    <span>Ниско</span>
                }
                else if (Model.AverageRating >= 5 && Model.AverageRating < 8)
                {
                    <span>Средно</span>
                }
                else if (Model.AverageRating > 8)
                {
                    <span>Добро</span>
                }
                else
                {
                    <span>@Html.DisplayFor(model => model.AverageRating)</span>
                }
            </p>
            <p>Средна оценка: @Model.AverageRating</p>
            <a asp-action="Index" class="btn btn-primary">Обратно към протукти</a>
        </div>
    </div>
</div>