@using SweetShop.Constants;
@using SweetShop.ViewModels.Product;
@model IEnumerable<ProductIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/product.css" />


<div class="wrapper">
    <h1 class="text-center">Products</h1>
    @if (User.IsInRole(RolesConstants.ADMIN_ROLE))
    {
        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>

    }

    <form asp-controller="Products" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input type="number" step="any" name="StartPrice" class="form-control" placeholder="Min price" min="0" />
            <input type="number" step="any" name="EndPrice" class="form-control" placeholder="Max price" min="0" />
            <button type="submit" class="btn btn-secondary">Search by price</button>
        </div>

        <partial name="_SearchBarPartial" />

    </form>
    <div class="d-flex justify-content-end">
        <div class="btn-group">
            <div class="dropdown mr-1">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Get rating
                </button>

                <div class="dropdown-menu">

                    @foreach (var item in Model)
                    {
                        <a asp-action="GetRating" asp-route-id="@item.Id" class="dropdown-item">@item.Name</a>
                    }
                </div>
            </div>
            <div class="dropdown mr-1">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Order by
                </button>
                <div class="dropdown-menu ">
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">Name</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSort"]">Price</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["MostSold"]">Sells</a>

                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">

        @foreach (var item in Model)
        {
            <div class="col-4 m-0 p-1">
                <div class="card shadow-lg" style="width: 18rem;">
                    <img src="@item.ImageURL" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Price$<span class="float-right">Times sold: @item.TimesSold </span></p>

                        @if (User.IsInRole(RolesConstants.ADMIN_ROLE))
                        {
                            <a asp-action="Details" asp-route-id="@item.Id" class="badge  badge-pill badge-info w-25 p-2 m-2">Details</a>
                            <a asp-action="Update" asp-route-id="@item.Id" class="badge badge-pill badge-warning w-25 p-2 m-2">Update</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="badge badge-pill badge-danger w-25 p-2 m-2"> Delete</a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id" class="badge  badge-pill badge-info w-25 p-2 m-2">Details</a>
                        }

                    </div>
                </div>
            </div>
        }

    </div>

</div>
