@model OrderDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/order.css" />

<div class="wrapper">
     <div>
        <a asp-action="Index" class="btn btn-primary">Back to orders</a>
        <h1 class="text-center">Place an order </h1>
    </div>

<div class="row">
        <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderedOn" class="control-label"></label>
                <input asp-for="OrderedOn" class="form-control" />
                <span asp-validation-for="OrderedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" >
                    @foreach(var client in ViewBag.Clients)
                    {
                        <option value="@client.Id">@client.FirstName  @client.LastName </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control">
                    @foreach(var product in ViewBag.Products)
                    {
                        <option value="@product.Id">@product.Name</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success w-100 mx-auto" />
            </div>
        </form>
    </div>
</div>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
