@model ReviewDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/review.css" />


<div class="wrapper">

    <div>
        <a asp-action="Index" class="btn btn-primary">Обратно към отзиви</a>
        <h1 class="text-center">Добавяне на отзив</h1>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <select asp-for="ClientId" class="form-control">
                        @foreach (var client in ViewBag.Clients)
                        {
                            <option value="@client.Id">@client.FirstName  @client.LastName </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control">
                        @foreach (var client in ViewBag.Products)
                        {
                            <option value="@client.Id">@client.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Добавяне" class="btn btn-success w-100 mx-auto" />
                </div>
            </form>
        </div>
    </div>


</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
