@using SweetShop.ViewModels.Review;
@model IEnumerable<IndexReviewViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/review.css" />


<div class="wrapper">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        @foreach (var item in Model)
        {
            <div class="card mb-5 col-4 p-1 m-1" style="max-width:22rem;">
                <div class="card-header">
                    <p class="card-text"> @item.Product  <span class="float-right">Rating: @item.Rating</span></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Client</h5>
                    <p class="card-text">@item.Description</p>

                </div>
                <div class="card-footer text-muted">
                    <p class="card-text">Reviewed on: @item.CreatedOn</p>
                </div>
            </div>


        }
    </div>
</div>