@using SweetShop.Constants;
@using SweetShop.ViewModels.Review;
@model IEnumerable<IndexReviewViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/review.css" />


<div class="wrapper">
    <h1>Reviews</h1>

    @if (User.IsInRole(RolesConstants.CLIENT_ROLE))
    {
        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    }


    <div class="row row-cols-1 row-cols-md-3 g-4">

        @foreach (var item in Model)
        {
            <div class="card mb-5 col-4 p-1 m-1" style="max-width:22rem;">
                <div class="card-header">
                    <p class="card-text"> @item.Product  <span class="float-right">Rating: @item.Rating</span></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Client</h5>
                    <p class="card-text">@item.Description</p>

                </div>
                <div class="card-footer text-muted">
                    <p class="card-text">Reviewed on: @item.CreatedOn</p>
                    @if (User.IsInRole(RolesConstants.ADMIN_ROLE))
                    {
                        <p class="card-tex"><a asp-action="Delete" asp-route-id="@item.Id" class="badge badge-pill badge-danger w-25 p-2 m-2"> Delete</a></p>
                    }


                </div>

            </div>
        }
    </div>
</div>