@using SweetShop.ViewModels.Review;
@model IEnumerable<IndexReviewViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var item in Model)
    {
@*
        <div class="card bg-white mb-5 col-4 p-1 m-1" style="max-width: 18rem;">
            <div class="card-header">@item.Client <span class="float-right">Rating: @item.Rating</span></div>
            <div class="card-body">
                <h5 class="card-title">@item.Product</h5>
                <p class="card-text">@item.Description</p>
            </div>
        </div>

        <div class="card border-primary mb-5 col-4 p-1 m-1" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">@item.Client <span class="float-right">@item.Product</span></div>
            <div class="card-body text-success">
                <h5 class="card-title">Rating @item.Rating</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
*@
        <div class="card text-center mb-5 col-4 p-1 m-1">
            <div class="card-header">
                @item.Product - @item.Rating
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Client</h5>
                <p class="card-text">@item.Description</p>
               
            </div>
            <div class="card-footer text-muted">
                @item.CreatedOn
            </div>
        </div>
    }


</div>
